/* General */

.uc--wrapper {
  position: relative;
  margin-bottom: 50px !important;
  display: block !important;
}

.uc--wrapper img {
  max-width: 100%;
  font-size: 0;
}

/* Carousel */

.uc--wrapper .uc--scroll-area {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}

.uc--wrapper .uc--scroll-area .uc--slide {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 100%;
}

.uc--wrapper .uc--scroll-area .uc--slide:not(.active) {
  pointer-events: none;
}

.uc--wrapper .uc--indicators .uc--scroll-right,
.uc--wrapper .uc--indicators .uc--scroll-left {
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.uc--wrapper .uc--indicators .uc--scroll-right {
  right: 0;
}

.uc--wrapper .uc--indicators .uc--scroll-left {
  left: 0;
}

.uc--wrapper .uc--indicators .uc--dots {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.uc--wrapper .uc--indicators .uc--dots .uc--dot {
  display: block;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  border-radius: 100px;
  background: #c4c4c4;
}

.uc--wrapper .uc--indicators .uc--dots .uc--dot.active {
  background: #1ca39c;
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
}

@media (min-width: 768px) {
  .uc--wrapper {
    margin: 0 50px;
  }
  .uc--wrapper .uc--indicators .uc--scroll-right {
    transform: translate(100%, -50%);
  }

  .uc--wrapper .uc--indicators .uc--scroll-left {
    transform: translate(-100%, -50%);
  }
}

@media (max-width: 767px) {
  .uc--wrapper .uc--indicators .uc--scroll-left {
    transform: translate(-100%, -50%);
  }
  .uc--wrapper .uc--indicators .uc--scroll-right {
    transform: translate(100%, -50%);
  }
}

/* Faded Edges & Spacing */

.uc--wrapper .uc--scroll-area {
  position: relative;

  padding: 100px;
  margin: -100px;

  mask-image: linear-gradient(to bottom, transparent 0px, #000 90px),
    linear-gradient(to top, transparent 0px, #000 90px),
    linear-gradient(to right, transparent 90px, #000 120px),
    linear-gradient(to left, transparent 90px, #000 120px);
  mask-size: 110% 110%;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-composite: intersect;
  -webkit-mask: linear-gradient(to bottom, transparent 0px, #000 90px),
    linear-gradient(to top, transparent 0px, #000 90px),
    linear-gradient(to right, transparent 90px, #000 120px),
    linear-gradient(to left, transparent 90px, #000 120px);
  -webkit-mask-size: 100%;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-composite: source-in;
  -webkit-mask-composite: intersect;
}
