/* General */

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  /* overflow-x: hidden; */
  /* background-color: #fff27b77; */
  padding: 20px;
}

p:last-child,
li:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0 !important;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0 0 20px 0;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.content-wrapper {
  padding: 100px 0;
}

.test-slider .uc--wrapper .uc--scroll-area .uc--slide .uc--content {
  padding: 20px;
  box-shadow: 28px 28px 100px rgb(13 39 80 / 16%);
  box-shadow: inset 0 0 0 4px coral;
}

/* ======================== */

/* ==================== */

/* Podcasts GLOBAL */

.podcasts [class*="banner-wrapper"] {
  min-height: 65vh;
  padding-top: 150px;
  position: relative;
}

.podcasts [class*="banner-wrapper"] a:hover,
.podcasts [class*="banner-wrapper"] a:focus {
  text-decoration: none !important;
}

.podcasts [class*="banner-wrapper"]:after {
  content: "";
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: url("#svgPath");
  background: white;
  overflow: hidden;
}

.podcasts [class*="banner-wrapper"] .title-area .description h1 {
  color: #ea6114;
}

.podcasts [class*="banner-wrapper"] .title-area .description h2 {
  margin-bottom: 35px;
}

.podcasts [class*="banner-wrapper"] .title-area .scroll-down {
  display: block;
  width: 42px;
  height: auto;
  position: absolute;
  left: 50%;
  bottom: -25%;
  transform: translateX(-50%);
}

.podcasts [class*="banner-wrapper"] .title-area .scroll-down img {
  width: 100%;
  height: auto;
}

.episode-banner-wrapper h1 {
  font-size: clamp(30px, 2.5vw, 36px);
  line-height: clamp(40px, 3.333vw, 48px);
  text-transform: capitalize;
}

/* Breadcrumbs */
.podcasts [class*="banner-wrapper"] .breadcrumbs {
  line-height: 1.2;
  display: flex;
  align-items: center;
}

.podcasts [class*="banner-wrapper"] .breadcrumbs span {
  font-family: brandon-grotesque, sans-serif;
  color: black;
  font-weight: 700;
}

.podcasts [class*="banner-wrapper"] .breadcrumbs a {
  font-size: 14px;
}

.podcasts [class*="banner-wrapper"] .breadcrumbs i {
  color: #cccccc;
  padding: 0 15px;
}

.episode-banner-wrapper .breadcrumbs .episode {
  border: none;
  display: flex;
  align-items: center;
}

.episode-banner-wrapper .breadcrumbs .episode img {
  margin-right: 10px;
}

@media (max-width: 767px) {
  .podcasts [class*="banner-wrapper"] .title-area .scroll-down img {
    display: none;
  }
}

/* Featured */
.podcasts [class*="banner-wrapper"] .title-area .featured {
  position: relative;
}

.podcasts [class*="banner-wrapper"] .title-area .featured h4 {
  font-family: brandon-grotesque, sans-serif;
  position: absolute;
  z-index: 1;
  right: 0;
  top: -10px;
  transform: translateY(-100%);
}

.podcasts [class*="banner-wrapper"] .title-area .featured .mark {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 21%;
  height: auto;
  transform: translate(-35%, -50%);
}

.podcasts [class*="banner-wrapper"] .title-area .featured .episode {
  position: relative;
}

.podcasts [class*="banner-wrapper"] .title-area .featured .episode:before {
  content: url("https://www.enrollify.org/hubfs/Empower/images/accents/dot-patterns/dots-pattern-12-6.svg");
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  transform: translate(-70%, 85%);
}

.podcasts [class*="banner-wrapper"] .title-area .featured .episode:after {
  content: url("https://www.enrollify.org/hubfs/Empower/images/accents/dot-patterns/dots-pattern-6-6.svg");
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.podcasts [class*="banner-wrapper"] .title-area .featured .episode .bg-img {
  width: calc(100% - 7%);
  height: 0;
  padding-bottom: 66%;
  position: relative;
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: clamp(10px, 1.389vw, 20px);
  box-shadow: -23px -23px 45px #ffffff, 28px 28px 50px rgba(13, 39, 80, 0.16);
}

.podcasts
  [class*="banner-wrapper"]
  .title-area
  .featured
  .episode
  .bg-img:after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  right: -7%;
  bottom: -10%;
  width: 100%;
  height: 100%;
  background: #ea6114;
  border-radius: clamp(20px, 2.083vw, 30px);
}

.podcasts [class*="banner-wrapper"] .title-area .featured .episode a.bg-img i {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: clamp(14px, 1.528vw, 22px);
  background: rgba(28, 163, 156, 0.85);
  width: 16%;
  height: 0;
  padding-bottom: 16%;
  border-radius: 50%;
}

.podcasts
  [class*="banner-wrapper"]
  .title-area
  .featured
  .episode
  a.bg-img
  i:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
}

.podcasts [class*="banner-wrapper"] .title-area .featured .logos {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 66%;
  margin: 11% auto 0 auto;
}

.podcasts [class*="banner-wrapper"] .title-area .featured .logos .img {
  width: 16%;
  height: 16%;
  margin: 0 2.5px;
  display: block;
}

.podcasts [class*="banner-wrapper"] .title-area .featured .logos .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: clamp(5px, 0.694vw, 10px);
}

.podcasts-home-banner-wrapper .title-area .featured .episode .count,
.series-banner-wrapper .title-area .featured .episode .img {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  transform: translate(20%, 70%);
  width: 23%;
  height: 0;
  padding-bottom: 23%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: clamp(10px, 1.389vw, 20px);
  overflow: hidden;
}

.podcasts-home-banner-wrapper .title-area .featured .episode .count {
  font-family: brandon-grotesque, sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: white;
}

.podcasts-home-banner-wrapper .title-area .featured .episode .count p {
  margin: 0;
  line-height: 1;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.podcasts-home-banner-wrapper .title-area .featured .episode .count span {
  font-weight: 400;
  display: block;
}

.podcasts-home-banner-wrapper .title-area .featured .episode .count span.num {
  font-size: clamp(20px, 2.778vw, 40px);
  font-weight: 900;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  color: #ea6114;
}

.podcasts-home-banner-wrapper .title-area .featured .logos .img img {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

.series-banner-wrapper .title-area .featured .episode .img img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.series-banner-wrapper .title-area .featured .logos {
  margin-right: 0 !important;
}

@media (min-width: 768px) {
  .podcasts [class*="banner-wrapper"] .title-area {
    display: flex;
    align-items: center;
    position: relative;
  }

  .podcasts [class*="banner-wrapper"] .title-area .description {
    flex: 1 0 0;
    padding-right: 10%;
  }

  .podcasts [class*="banner-wrapper"] .title-area .featured {
    width: 30%;
  }
}

@media (max-width: 767px) {
  .podcasts-home-banner-wrapper .slider-area {
    margin-top: 30px !important;
  }

  .podcasts [class*="banner-wrapper"] .title-area .featured {
    margin: 0px 30px;
  }

  .podcasts [class*="banner-wrapper"] .title-area .description {
    padding-bottom: 20%;
  }
}

/* Recent Episodes */

.podcasts [class*="recent-episodes-wrapper"] {
  margin-top: 75px;
}

.podcasts [class*="recent-episodes-wrapper"] a:hover,
.podcasts [class*="recent-episodes-wrapper"] a:focus {
  text-decoration: none;
}

.podcasts [class*="recent-episodes-wrapper"] .podcasts-list .podcast {
  margin-bottom: clamp(75px, 7vw, 150px);
}

.podcasts
  [class*="recent-episodes-wrapper"]
  .podcasts-list
  .podcast
  .title-area {
  position: relative;
}

.podcasts
  [class*="recent-episodes-wrapper"]
  .podcasts
  .podcast
  .title-area:after {
  content: url(https://www.enrollify.org/hubfs/Empower/images/accents/dot-patterns/dots-pattern-12-3.svg);
  position: absolute;
  z-index: -1;
  top: 0;
}

.podcasts
  [class*="recent-episodes-wrapper"]
  .podcasts
  .podcast
  .title-area
  .icons {
  display: flex;
  align-items: flex-start;
}

.podcasts
  [class*="recent-episodes-wrapper"]
  .podcasts
  .podcast
  .title-area
  .icons
  > * {
  flex: 0 0 auto;
}

.podcasts
  [class*="recent-episodes-wrapper"]
  .podcasts
  .podcast
  .title-area
  .icons
  .logo {
  display: block;
  margin-right: 8%;
  width: 32%;
  padding-bottom: 32%;
  position: relative;
}

.podcasts
  [class*="recent-episodes-wrapper"]
  .podcasts
  .podcast
  .title-area
  .icons
  .logo
  img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  border-radius: clamp(10px, 1.389vw, 20px);
}

.podcasts
  [class*="recent-episodes-wrapper"]
  .podcasts
  .podcast
  .title-area
  .icons
  .platforms {
  display: flex;
  margin-top: 15px;
  width: 100%;
}

.podcasts
  [class*="recent-episodes-wrapper"]
  .podcasts
  .podcast
  .title-area
  .icons
  .platforms
  .img {
  display: block;
  width: 10%;
  padding-bottom: 10%;
  position: relative;
}

.podcasts
  [class*="recent-episodes-wrapper"]
  .podcasts
  .podcast
  .title-area
  .icons
  .platforms
  .img:not(:last-child) {
  margin-right: 8%;
}

.podcasts
  [class*="recent-episodes-wrapper"]
  .podcasts
  .podcast
  .title-area
  .icons
  .platforms
  .img
  img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.podcasts
  [class*="recent-episodes-wrapper"]
  .podcasts
  .podcast
  .title-area
  .ctas {
  display: flex;
  align-items: center;
  transform: translate(15%, -75%);
}

.podcasts
  [class*="recent-episodes-wrapper"]
  .podcasts
  .podcast
  .title-area
  .ctas
  button {
  margin-right: 20px;
}

.podcasts
  [class*="recent-episodes-wrapper"]
  .podcasts-list
  .podcast
  .posts-area {
  margin-top: 5%;
  padding-bottom: 20px;
  position: relative;
}

.podcasts
  [class*="recent-episodes-wrapper"]
  .podcasts
  .podcast
  .posts-area:after {
  content: url(https://www.enrollify.org/hubfs/Empower/images/accents/dot-patterns/dots-pattern-6-6.svg);
  position: absolute;
  z-index: -1;
  bottom: 0;
}

.podcasts
  [class*="recent-episodes-wrapper"]
  .podcasts-list
  .podcast
  .posts-area
  h3 {
  position: relative;
  z-index: 1;
}

.podcasts
  [class*="recent-episodes-wrapper"]
  .podcasts
  .podcast
  .posts-area
  > a {
  position: absolute;
  right: 0;
  bottom: 0;
}

.podcasts
  [class*="recent-episodes-wrapper"]
  .podcasts
  .podcast
  .posts-area
  .post:not(:last-child) {
  margin-bottom: 6%;
}

.podcasts
  [class*="recent-episodes-wrapper"]
  .podcasts
  .podcast
  .posts-area
  .post
  a {
  position: relative;
  top: 0;
  left: 0;
  padding: 0 10px;
  background: transparent;
  box-shadow: -23px -23px 45px rgba(255, 255, 255, 0),
    28px 28px 50px rgba(13, 39, 80, 0);
  border-radius: 30px;
  display: flex;
  align-items: center;
  color: black;
  transition: all 0.2s ease;
}

.podcasts
  [class*="recent-episodes-wrapper"]
  .podcasts
  .podcast
  .posts-area
  .post
  a:hover,
.podcasts
  [class*="recent-episodes-wrapper"]
  .podcasts
  .podcast
  .posts-area
  .post
  a:focus {
  top: -5px;
  left: -5px;
  color: #ea6114;
  background: #ebfafa;
  box-shadow: -23px -23px 45px #ffffff, 28px 28px 50px rgba(13, 39, 80, 0.16);
}

.podcasts
  [class*="recent-episodes-wrapper"]
  .podcasts
  .podcast
  .posts-area
  .post
  .play-img {
  width: 30%;
  padding-bottom: 30%;
  margin-right: 15px;
  position: relative;
  top: 0;
  transition: all 0.2s ease;
}

.podcasts
  [class*="recent-episodes-wrapper"]
  .podcasts
  .podcast
  .posts-area
  .post
  a:hover
  .play-img,
.podcasts
  [class*="recent-episodes-wrapper"]
  .podcasts
  .podcast
  .posts-area
  .post
  a:focus
  .play-img {
  top: -10px;
}

.podcasts
  [class*="recent-episodes-wrapper"]
  .podcasts
  .podcast
  .posts-area
  .post
  .play-img
  i {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: clamp(11px, 0.972vw, 14px);
  background: rgba(72, 202, 228, 0.85);
  width: 26%;
  height: 26%;
  border-radius: 50%;
}

.podcasts
  [class*="recent-episodes-wrapper"]
  .podcasts
  .podcast
  .posts-area
  .post
  .play-img
  i:before {
  transform: translateX(12%);
}

.podcasts
  [class*="recent-episodes-wrapper"]
  .podcasts
  .podcast
  .posts-area
  .post
  .play-img
  img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.podcasts
  [class*="recent-episodes-wrapper"]
  .podcasts
  .podcast
  .posts-area
  .post
  h5 {
  flex: 1 0 0;
  margin: 0;
}

@media (min-width: 768px) {
  .podcasts [class*="recent-episodes-wrapper"] .podcasts-list .podcast {
    display: flex;
  }

  .podcasts
    [class*="recent-episodes-wrapper"]
    .podcasts
    .podcast:nth-child(odd)
    .title-area {
    order: 1;
    width: 45%;
  }

  .podcasts
    [class*="recent-episodes-wrapper"]
    .podcasts
    .podcast:nth-child(odd)
    .posts-area {
    order: 2;
    flex: 1 0 0;
    margin-left: 6%;
  }

  .podcasts
    [class*="recent-episodes-wrapper"]
    .podcasts
    .podcast:nth-child(even)
    .title-area {
    order: 2;
    width: 45%;
  }

  .podcasts
    [class*="recent-episodes-wrapper"]
    .podcasts
    .podcast:nth-child(even)
    .posts-area {
    order: 1;
    flex: 1 0 0;
    margin-right: 6%;
  }

  .podcasts
    [class*="recent-episodes-wrapper"]
    .podcasts
    .podcast:nth-child(odd)
    .title-area:after {
    right: 0;
    transform: translate(-20%, 50%);
  }

  .podcasts
    [class*="recent-episodes-wrapper"]
    .podcasts
    .podcast:nth-child(even)
    .title-area:after {
    left: 0;
    transform: translate(-25%, 50%);
  }

  .podcasts
    [class*="recent-episodes-wrapper"]
    .podcasts
    .podcast:nth-child(even)
    .posts-area:after {
    left: 0;
    transform: translate(-50%, 10%);
  }
}

@media (max-width: 767px) {
  .podcasts
    [class*="recent-episodes-wrapper"]
    .podcasts
    .podcast
    .title-area:after {
    right: 0;
    transform: translate(-20%, 50%);
  }

  .podcasts
    [class*="recent-episodes-wrapper"]
    .podcasts
    .podcast
    .posts-area:after {
    right: 0;
    transform: translate(80%, 20%);
  }
}

/* ==================== */
