/* General */
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

.static-slider-wrapper {
  margin: 100px 0;
}

.static-slider-wrapper .container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.static-slider-wrapper .content-area,
.static-slider-wrapper .content-area .slider {
  position: relative;
}

.static-slider-wrapper .content-area .slider .slides {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}

.static-slider-wrapper .content-area .slider .slides .slide {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 100%;
}

.static-slider-wrapper .content-area .slider .slides .slide .content {
  align-items: center;
  border: 2px solid black;
  padding: 20px;
  margin: 0 20px;
}

.static-slider-wrapper .content-area .slider .scroll-right,
.static-slider-wrapper .content-area .slider .scroll-left {
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.static-slider-wrapper .content-area .slider .scroll-right {
  right: 0;
}

.static-slider-wrapper .content-area .slider .scroll-left {
  left: 0;
}

.static-slider-wrapper .content-area .slider-indics {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.static-slider-wrapper .content-area .slider-indics .dot {
  display: block;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  border-radius: 100px;
  background: #c4c4c4;
  transition: all 0.2sease;
}

.static-slider-wrapper .content-area .slider-indics .dot.active {
  background: #1ca39c;
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
}

.static-slider-wrapper .content-area .cta {
  text-align: center;
  margin-top: 80px;
}

@media (min-width: 768px) {
  .static-slider-wrapper .content-area .slider {
    padding: 40px;
  }
  .static-slider-wrapper .content-area .slider .scroll-right,
  .static-slider-wrapper .content-area .slider .scroll-left {
    transform: translate(0, -50%);
  }
}

@media (max-width: 767px) {
  .static-slider-wrapper .content-area .slider .scroll-left {
    transform: translate(-100%, -50%);
  }
  .static-slider-wrapper .content-area .slider .scroll-right {
    transform: translate(100%, -50%);
  }
}
